<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spaceshooter">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@android:drawable/ic_dialog_info"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpaceShooter">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
